#pesan{
    background-color:#b7b7b7;
    padding:2;
    position:relative;
    cursor:pointer;
}

#notifikasi{
	padding:4;
    background-color:#377e9b;
    font-size:12pt;
    position:relative;
	color:white;
    top:-4;
}

#info{
    width:200px;
    padding:3;
    position:absolute;
    background-color:#efefef;
    z-index:1000;
    display:none;
}

.info2{
    font-family:arial;
    font-size:10pt;
}

#content{
    padding:10;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

a.home{
    color:white;
}

#loading{
    height:50;
    display:none;
}
