/*
Theme Name: Chameleon Circuit
Theme URI: tpl_chameleoncircuit
Description: A full featured unlimited colors admin panel theme from Themio
Author: Themio
Author URI: http://themio.net
Version: 2.0

/* Structure
-------------------------------------------------------------------*/
@import url(reset.css);
@import url(global.css);
@import url(typography.css);
@import url(buttons.css);
@import url(jqueryui.css);
@import url(config.css);

html {font-size: 100%;}
body {font-size: .75em;line-height: 1.5; /*background: url(../images/bg.png) repeat;*/}

a {text-decoration: none; color: #004a80; cursor: pointer;}
a:hover {text-decoration: underline}

#actualbody {/*background: #f1f1f1;*/ border: 1px solid #c2c2c5; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; padding: 10px 0; margin-bottom: 70px;}

/* Typography
-------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {font-weight: normal}
h1 {font-size: 2em}
h2 {font-size: 1.8em}
h3 {font-size: 1.6em}
h4 {font-size: 1.4em}
h5 {font-size: 1.2em}
h6 {font-size: 1em}

p {margin: 5px 0}

/* Widgets
-------------------------------------------------------------------*/
.widget {margin-top: 15px; margin-bottom: 10px; 
        background-image: url(../images/menu/title-r.png); background-repeat: no-repeat; background-position: top right;
        -moz-border-radius:4px;border-radius:4px; -moz-border-radius:4px;
}

.widget_title {
    -moz-border-radius-topleft: 4px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 4px 0px 0px 0px; border-radius: 4px 0px 0px 0px;
    margin-right: 4px;
    background: url(../images/menu/title.png) top left;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.widget_title h2 {font-size: 1.2em; color: #fff; text-shadow: 0 -1px 0px #000; display: inline; line-height: 2.3em; padding: 0 10px; font-weight: normal}
.widget_title ul {float: right;}
.widget_title ul li {float:left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;margin: 5px;}

.widget_title ul li a {display: block;padding: 4px 6px 5px 9px;margin-right: 3px}

.widget_title .ui-tabs-selected {background: url(../images/form/tab-r.png) no-repeat top right; }
.widget_title .ui-tabs-selected a {background: url(../images/form/tab.png) no-repeat top left; margin-right: 3px;}

.widget_title .ui-tabs-nav li {font-size: 0.87em;font-weight: bold;}

.widget_title .ui-state-default a {color: #aaa}
.widget_title .ui-state-hover a {text-decoration: none; color: #fff}
.widget_title .ui-tabs-selected a {color: #fff;}

.ui-toolbar input[type='text'], .ui-toolbar input[type='password'], .ui-toolbar input[type='file'], .ui-toolbar textarea, .ui-toolbar select,
.widget_options input[type='text'], .widget_options input[type='password'], .widget_options input[type='file'], .widget_options textarea, .widget_options select {margin-bottom: 0px}
    
.widget_body {border-radius:0 0 4px 4px;-moz-border-radius:0 0 3px 3px; background: #fff; padding-bottom: 10px; border: 1px solid #c1c1c1;}
.widget_options {background: #f7f7f7; border-bottom: 1px solid #d4d4d4; padding: 10px}

.widget_content {padding: 5px 10px ;}



/* Form
-------------------------------------------------------------------*/
input[type='text'], input[type='password'], input[type='file'], textarea, select {
    background-color: #f6f6f6;
    border: 1px solid #929292;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    padding: 6px 5px;
    
}

input[type='text'] {width: 20%}
input.medium {width: 33%}
input.fifty {width: 50%}
input.large {width: 95%; width: -moz-available;}
select {min-width: 20%}
select.small {padding:2px 1px}

.infobar {color: #8F8F8F; font-size: 0.833em; display: block; padding-bottom: 3px;}

.nested ul, .nested ol {margin-left: 2em}

span.vanadium-advice {margin-left: 15px}
span.vanadium-invalid {background: url("../images/fugue/cross.png") no-repeat scroll left center transparent; padding:1px 0 1px 18px}

.upload {display: inline}
.realupload {position: relative;left: -21%;opacity:0;-moz-opacity:0;filter:alpha(opacity:0);z-index:2;width:20%;}
.fakeupload {background-image:url(../images/form/selectfile.png);background-position: 100% 50%;background-repeat:no-repeat;}

.inputHighlight {color: #959595 !important}

/* Login Page
-------------------------------------------------------------------*/
/*
#loginpage {background-image: url(../images/login_bg_1.png); background-repeat: no-repeat; background-position: top center;}
*/
#loginpage img {position: relative; top: 130px}
#login {margin-top: 130px}
#login .widget_content {width: 85%; margin: 5px auto 10px;}
#login label {margin-top: 10px; }
#login label.left {margin-top: 5px}
#loginpage input[type=text], #loginpage input[type=password] {width:270px; width:-moz-available}
#login input[type=submit] {padding: 4px 10px; margin: 10px 0 10px}

/* Footer
-------------------------------------------------------------------*/
footer {background: #121212; color: #fff; font-size: 0.9em;}
footer a {color: #aaa}

