/*
	Fluid 960 Grid System - IE Fixes (IE7 and greater)
	Learn more ~ http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/

/* =Grid >> Global
--------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{
	margin-left: .92%;
	margin-right: .92%;
}

#konten{
    height:100%;
}