
<div data-role="page"  id="suratkeluar">

	<div data-role="header" data-position="fixed" data-theme="b" role="banner" class="ui-header ui-bar-b ui-header-fixed slidedown">
        <h1 class="ui-title" role="heading" aria-level="1">Contact Us</h1>
        
        <a href="#leftpanel3" data-icon="bars" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Menu</a>
        <a href="#demo-intro" data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Back</a>
    </div>


	<div role="main" class="ui-content jqm-content">
		<!--img src="demos/_assets/img/devices.png"-->
        
        <div>
            <form id="form-contact" class="form-horizontal" data-parsley-validate="true">
            <label for="judul">Judul :</label>
            <input type="text" name="judul" id="judul" placeholder="Judul">
            <label for="desikripsi">Deskripsi :</label>
            <textarea cols="40" rows="10" name="desikripsi" id="desikripsi" placeholder="Deskripsi"></textarea>
            
            </form>
            <button type="submit" class="btn btn-primary" onclick="submit_contact()">Submit</button>
        </div>

	</div><!-- /content -->
	    
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer" align="center">
		Copyright &copy; 2018 Krakatau Steel 
	</div><!-- /footer -->
	<div data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="b">
           <div data-role="collapsibleset" data-theme="b" data-content-theme="a"><p class="avatar"></p></div><ul data-role="listview" data-inset="true" class="fanelkiri"></ul>
        </div>

<script>
$(document).ready(function() {
    get_navbar();
    get_panel();
    
    });
</script>
</div><!-- /page -->
