

<div data-role="page" data-dialog="true">
    <div data-role="header" data-theme="b">
        <h1>Memo Dinas</h1>
    </div>

    <div role="main" class="ui-content">
        <div class="filelampiran"></div>
    </div>
    <script>
    $(document).ready(function() {
        $('.filelampiran').html('<a href="http://dev.krakatausteel.com/arsip/modules/report/label/memodinaskeluar.php?idp=U0syMDE4MDIwOTAwMDAwMDAwMDAwMDAy" >ABC PDF file</a>');//('<object type="application/pdf" width="100%" height="500px" controls controlsList="nodownload" data="http://dev.krakatausteel.com/arsip/modules/report/label/memodinaskeluar.php?idp=U0syMDE4MDIwOTAwMDAwMDAwMDAwMDAy"></object>');
    });
    </script>
</div>
  