

<div data-role="page"  id="paraf">
    
	<div data-role="header" data-position="fixed" data-theme="b" role="banner" class="ui-header ui-bar-b ui-header-fixed slidedown">
        <h1 class="ui-title" role="heading" aria-level="1">Paraf</h1>
        
        <a href="#leftpanel3" data-icon="bars" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button" >Menu</a>
        <a href="#" data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button" onclick="delete_session();">Back</a>
    </div>
	<div role="main" class="ui-content jqm-content">
		<!--img src="demos/_assets/img/devices.png"-->
        
        <div>  
            <form id="form-paraf" class="form-horizontal">
            <input type="hidden" id="kodesuratkeluar" />
            <label for="nosuratkeluar">No Surat Keluar :</label>
            <input type="text" name="nosuratkeluar" id="nosuratkeluarx" placeholder="Nomor Surat">
            <label for="tanggalsurat">Tanggal Surat :</label>
            <input type="date" name="tanggalsurat" id="tanggalsurat" placeholder="Tanggal Surat">
            <label for="isiringkasan">Perihal :</label>
            <input type="text" name="isiringkasan" id="isiringkasan" placeholder="Judul Surat">
            <label for="ketparaf">Keterangan Paraf :</label>
            <input type="text" name="ketparaf" id="ketparaf" placeholder="Keterangan Paraf ">
            <label for="memo">Memo Surat :</label>
            <!--textarea class="textarea" id="memo" name="memo" rows="12" placeholder="Enter text ..."></textarea-->
            <textarea name="memo" id="memo"></textarea>
            
            </form>
            <button type="submit" class="btn btn-primary" onclick="simpan_paraf();">Simpan</button>
        </div>

	</div><!-- /content -->
	    
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer" align="center">
    <div class="loading" hidden="true">
            
        </div>
		Copyright &copy; 2018 Krakatau Steel 
	</div><!-- /footer -->
	<div data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="b">
            <div data-role="collapsibleset" data-theme="b" data-content-theme="a" ><ul data-role="listview" data-inset="true" class="fanelkiri"></ul></div>
        
	   </div>

<script>
    $(document).ready(function() {
        get_loading();
        $('#memo').jqte();
        /*$(function(){
        $('#memo').froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null})
        });*/
        get_navbar();
        get_panel();
          
        
    });
     
        
    </script>
</div><!-- /page -->
