
<div data-role="page"  id="pedoman">

	<div data-role="header" data-position="fixed" data-theme="b" role="banner" class="ui-header ui-bar-b ui-header-fixed slidedown">
        <h1 class="ui-title" role="heading" aria-level="1">Pedoman</h1>
        
        <a href="#leftpanel3" data-icon="bars" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Menu</a>
        <a href="#index" data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Back</a>
    </div>

	<div role="main" class="ui-content jqm-content" align="center">
		<!--img src="demos/_assets/img/devices.png"-->
        
        <div id="listpedoman">
            
           
        </div>
        <div id="detailpedoman"></div>

	</div><!-- /content -->
	    
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer" align="center">
    <div class="loading" hidden="true">
            
        </div>
		Copyright &copy; 2018 Krakatau Steel 
	</div><!-- /footer -->
	<div data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="b">
           <div data-role="collapsibleset" data-theme="b" data-content-theme="a"><p class="avatar"></p></div><ul data-role="listview" data-inset="true" class="fanelkiri"></ul>
        </div>

<script>
$(document).ready(function() {
    get_loading();
    get_pedoman();
    get_navbar();
    get_panel();
    
    });
</script>
</div><!-- /page -->
