<div data-role="page" class="jqm-demos jqm-home" id="paraf">

	<div data-role="header" class="jqm-header" data-position="fixed">
		<div style="padding-left: 0px; padding-right: 0px;"><img src="images/header5.png" alt="Mobile Smart" style="height: 100%;width: 100%;"></div>
		<p><span>Pedoman Kearsipan</span></p>
		<a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
		<!--a href="#" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">Search</a-->
	</div><!-- /header -->

	<div role="main" class="ui-content jqm-content" align="center">
		<!--img src="demos/_assets/img/devices.png"-->
        <div class="ui-grid-a ui-responsive">
            <table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">

	                <thead>
	                  <tr class="ui-bar-d">
	                    <th data-priority="2">Rank</th>
	                    <th>Movie Title</th>
	                    <th data-priority="3">Year</th>
	                    <th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
	                    <th data-priority="5">Reviews</th>
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr>
	                    <th>1</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Citizen_Kane" data-rel="external">Citizen Kane</a></td>
	                    <td>1941</td>
	                    <td>100%</td>
	                    <td>74</td>
	                  </tr>
	                  <tr>
	                    <th>2</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Casablanca_(film)" data-rel="external">Casablanca</a></td>
	                    <td>1942</td>
	                    <td>97%</td>
	                    <td>64</td>
	                  </tr>
	                  <tr>
	                    <th>3</th>
	                    <td><a href="http://en.wikipedia.org/wiki/The_Godfather" data-rel="external">The Godfather</a></td>
	                    <td>1972</td>
	                    <td>97%</td>
	                    <td>87</td>
	                  </tr>
	                  <tr>
	                    <th>4</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Gone_with_the_Wind_(film)" data-rel="external">Gone with the Wind</a></td>
	                    <td>1939</td>
	                    <td>96%</td>
	                    <td>87</td>
	                  </tr>
	                  <tr>
	                    <th>5</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Lawrence_of_Arabia_(film)" data-rel="external">Lawrence of Arabia</a></td>
	                    <td>1962</td>
	                    <td>94%</td>
	                    <td>87</td>
	                  </tr>
	                  <tr>
	                    <th>6</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Dr._Strangelove" data-rel="external">Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb</a></td>
	                    <td>1964</td>
	                    <td>92%</td>
	                    <td>74</td>
	                  </tr>
	                  <tr>
	                    <th>7</th>
	                    <td><a href="http://en.wikipedia.org/wiki/The_Graduate" data-rel="external">The Graduate</a></td>
	                    <td>1967</td>
	                    <td>91%</td>
	                    <td>122</td>
	                  </tr>
	                  <tr>
	                    <th>8</th>
	                    <td><a href="http://en.wikipedia.org/wiki/The_Wizard_of_Oz_(1939_film)" data-rel="external">The Wizard of Oz</a></td>
	                    <td>1939</td>
	                    <td>90%</td>
	                    <td>72</td>
	                  </tr>
	                  <tr>
	                    <th>9</th>
	                    <td><a href="http://en.wikipedia.org/wiki/Singin%27_in_the_Rain" data-rel="external">Singin' in the Rain</a></td>
	                    <td>1952</td>
	                    <td>89%</td>
	                    <td>85</td>
	                  </tr>
	                  <tr>
	                    <th>10</th>
	                    <td class="title"><a href="http://en.wikipedia.org/wiki/Inception" data-rel="external">Inception</a></td>
	                    <td>2010</td>
	                    <td>84%</td>
	                    <td>78</td>
	                  </tr>
	                </tbody>
	              </table>
        	
        </div>

	</div><!-- /content -->
	    <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
	    	<ul class="jqm-list ui-alt-icon ui-nodisc-icon">
            <li data-filtertext="demos homepage" data-icon="home"><a href="#" onclick="page_index()">Beranda</a></li>
            <li data-filtertext="surat masuk"><a href="#" onclick="page_suratmasuk()">Surat Masuk</a></li>
            <li data-filtertext="paraf"><a href="#" onclick="page_paraf()">Paraf</a></li>
            <li data-filtertext="validasi"><a href="#" onclick="page_validasi()">Validasi</a></li>
            <li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
            	<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
            		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
            		   Bantuan<span class="ui-collapsible-heading-status"> click to expand contents</span>
            		</a>
            	</h3>
            	<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
            		<ul>
            			<li data-filtertext="pedoman kearsipan"><a href="../checkboxradio-checkbox/" data-ajax="false">Pedoman Karsipan</a></li>
            			<li data-filtertext="petunjuk penggunaan"><a href="../checkboxradio-radio/" data-ajax="false">Petunjuk Penggunaan</a></li>
                        <li data-filtertext="informasi seputar kearsipan"><a href="../checkboxradio-radio/" data-ajax="false">Informasi Seputar Kearsipan</a></li>
            		
                    </ul>
            	</div>
            </li>
            <li data-filtertext="validasi"><a href="#" onclick="logout()">Keluar</a></li>
	       </ul>
		</div><!-- /panel -->


	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
		<p>Copyright &copy; 2018 Krakatau Steel </p>
	</div><!-- /footer -->
	

</div><!-- /page -->