<div data-role="page"  id="validasi">
    <input type="hidden" id="kodesurat" />
    <div data-role="header" data-position="fixed" data-theme="b" role="banner" class="ui-header ui-bar-b ui-header-fixed slidedown">
        <h1 class="ui-title" role="heading" aria-level="1">Validasi</h1>
        
        <a href="#leftpanel3" data-icon="bars" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Menu</a>
        <a href="#index" data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">Back</a>
    </div>

	<div role="main" class="ui-content jqm-content" align="center">
		<!--img src="demos/_assets/img/devices.png"-->
        <div class="positionSelector" style="overflow:scroll;"></div>
        
        <div class="viewsurat" hidden="true"></div>
        <div class="email-content">
        
            <table class="table table-email" id="validasisurat">
            <thead>
                  <tr>
                    <th data-priority="persist">Asal Surat</th>
                    <th data-priority="1">Perihal</th>
                    <th data-priority="2">Lampiran</th>
                  </tr>
                </thead>
            </table>
        </div>

	</div><!-- /content -->
	    
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer" align="center">
    <div class="loading" hidden="true">
            
        </div>
		Copyright &copy; 2018 Krakatau Steel 
	</div><!-- /footer -->
	<div data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="b">
           <div data-role="collapsibleset" data-theme="b" data-content-theme="a"><p class="avatar"></p></div><ul data-role="listview" data-inset="true" class="fanelkiri"></ul>
    </div>
    <!--div data-role="popup" id="positionSelector" class="ui-content" data-theme="a">
   	
    </div-->

<script>
$(document).ready(function() {
    get_loading();
    //$('.jqte-test').jqte();
    get_navbar();
    get_panel();
    read_validasi();
    });
</script>
</div><!-- /page -->
